.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    150deg,
    rgba(167, 245, 250, 1) 14%,
    rgba(236, 255, 255, 1) 25%,
    rgba(208, 250, 253, 1) 25%,
    rgba(9, 52, 67, 1) 95%
  );
}
.title {
  font-size: 40px;
  color: #093443;
}
.link {
  font-size: 30px;
  color: #d0fafd;
  background-color: #0abad0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 25px;
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.link:hover {
  background-color: #20d5e9;
}
.wrapper::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -69px;
  left: -55px;
  z-index: 3;
  border-radius: 50%;
  background-color: #d0fafd;
}
.wrapper::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: -42px;
  left: 96px;
  border-radius: 50%;
  background-color: #b1d4d7;
}
